flows.json
[{"id":"e45d5a9cf7f9a946","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ac6a770440f6da9d","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"a28e3be54de7b154","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"04059b16b83d377d","type":"serial-port","serialport":"/dev/rfcomm0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"76ab1b529d30c82f","type":"ui_tab","name":"SSR Controllers","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c3b9ca39d6789541","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b054eeb8a1636994","type":"ui_group","name":"Duty factor settings","tab":"76ab1b529d30c82f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0a2ac17015680e49","type":"ui_group","name":"Duty factor readbacks","tab":"76ab1b529d30c82f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ad5f70daabb42993","type":"ui_tab","name":"Bluetooth","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b79e7efe9f86e4c0","type":"ui_group","name":"Controls","tab":"ad5f70daabb42993","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e0f52056.325bc","type":"ui_group","name":"Temperatures","tab":"76ab1b529d30c82f","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"16ad8c32f8cbbf7b","type":"inject","z":"e45d5a9cf7f9a946","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":150,"y":100,"wires":[["4b5f7e965adc5fba"]]},{"id":"4b5f7e965adc5fba","type":"exec","z":"e45d5a9cf7f9a946","command":"sudo rfcomm connect hci0 00:14:03:05:59:CE","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Bluetooth connect","x":330,"y":80,"wires":[[],[],[]]},{"id":"624176d06e525033","type":"serial in","z":"e45d5a9cf7f9a946","name":"Bluetooth rfcomm0","serial":"04059b16b83d377d","x":110,"y":260,"wires":[["9fbe590dc0e432e0"]]},{"id":"16c41450aaacbc7a","type":"inject","z":"e45d5a9cf7f9a946","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"test string from RPi","payloadType":"str","x":110,"y":180,"wires":[[]]},{"id":"eed7265be4609687","type":"serial out","z":"e45d5a9cf7f9a946","name":"Bluetooth rfcomm0","serial":"04059b16b83d377d","x":350,"y":180,"wires":[]},{"id":"65405ac3de5e055b","type":"ui_button","z":"e45d5a9cf7f9a946","name":"","group":"b79e7efe9f86e4c0","order":3,"width":0,"height":0,"passthru":false,"label":"Bluetooth reset","tooltip":"","color":"Black","bgcolor":"Yellow","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":40,"wires":[["4b5f7e965adc5fba"]]},{"id":"9fbe590dc0e432e0","type":"function","z":"e45d5a9cf7f9a946","name":"Make a JSON object","func":"var info = msg.payload;\nvar tempStopIndex = info.indexOf('&');\nvar heart_b = Number(info.substring(1, tempStopIndex));\nvar info1 = info.substring(tempStopIndex + 1);\ntempStopIndex=info1.indexOf('&');\nvar ssr0_df= Number(info1.substring(0, tempStopIndex));\nvar info2 = info1.substring(tempStopIndex + 1);\ntempStopIndex = info2.indexOf('&');\nvar ssr1_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1); \ntempStopIndex = info1.indexOf('&');\nvar ssr2_df = Number(info1.substring(0, tempStopIndex));\ninfo2 = info1.substring(tempStopIndex + 1); \ntempStopIndex = info2.indexOf('&');\nvar ssr3_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1); \ntempStopIndex = info1.indexOf('&');\nvar ssr4_df = Number(info1.substring(0, tempStopIndex));\ninfo2 = info1.substring(tempStopIndex + 1); \ntempStopIndex = info2.indexOf('&');\nvar ssr5_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1); \ntempStopIndex = info1.indexOf('&');\nvar ssr6_df = Number(info1.substring(0, tempStopIndex));\ninfo2 = info1.substring(tempStopIndex + 1); \ntempStopIndex = info2.indexOf('&');\nvar ssr7_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1); \ntempStopIndex = info1.indexOf('&');\nvar ssr8_df = Number(info1.substring(0, tempStopIndex));\ninfo2 = info1.substring(tempStopIndex + 1); \ntempStopIndex = info2.indexOf('&');\nvar ssr9_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1); \ntempStopIndex = info1.indexOf('&');\nvar ssr10_df = Number(info1.substring(0, tempStopIndex));\ninfo2 = info1.substring(tempStopIndex + 1); \ntempStopIndex = info2.indexOf('&');\nvar ssr11_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1); \ntempStopIndex = info1.indexOf('&');\nvar ssr12_df = Number(info1.substring(0, tempStopIndex));\ninfo2 = info1.substring(tempStopIndex + 1); \ntempStopIndex = info2.indexOf('&');\nvar ssr13_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1); \ntempStopIndex = info1.indexOf('&');\nvar ssr14_df = Number(info1.substring(0, tempStopIndex));\ninfo2 = info1.substring(tempStopIndex + 1); \ntempStopIndex = info2.indexOf('&');\nvar ssr15_df = Number(info2.substring(0, tempStopIndex));\ninfo1 = info2.substring(tempStopIndex + 1);\nvar temperature = Number(info1);\nvar data_payl = {   ssr0: ssr0_df, ssr1: ssr1_df, \n                    ssr2: ssr2_df, ssr3: ssr3_df,\n                    ssr4: ssr4_df, ssr5: ssr5_df,\n                    ssr6: ssr6_df, ssr7: ssr7_df,\n                    ssr8: ssr8_df, ssr9: ssr9_df,\n                    ssr10: ssr10_df, ssr11: ssr11_df,\n                    ssr12: ssr12_df, ssr13: ssr13_df,\n                    ssr14: ssr14_df, ssr15: ssr15_df, \n                    heart_beat: heart_b,\n                    temperature: temperature };\nvar payl = { data: data_payl, timestamp: Date.now() };\nreturn { payload:payl };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":760,"wires":[["39fbeb2a780fe6c0","370686cad33aeef1","83faf9545fbcad49","3c382e9ba0c97941","18e8981a28c7c5c0","ed07d9faeabf9479","f911c41fb3613856","3dd7dbc4064b79e7","6afd7e1279dcd57d","e30ee18e9339a36e","d8dd386d15282854","a5138847fdb1931c","4e3d28e6a18cb1b8","84667674356cd34b","aabf4afb38d210a1","91232761784005b4","5e9cfc5c16dccd92","8d63ee7360a9ca38"]]},{"id":"39fbeb2a780fe6c0","type":"function","z":"e45d5a9cf7f9a946","name":"Get the heart beat","func":"return {payload:msg.payload.data.heart_beat};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":280,"wires":[["13276fe51823d780"]]},{"id":"13276fe51823d780","type":"ui_text","z":"e45d5a9cf7f9a946","group":"b79e7efe9f86e4c0","order":2,"width":0,"height":0,"name":"","label":"Heart beat","format":"{{msg.payload}}","layout":"row-spread","className":"","x":690,"y":280,"wires":[]},{"id":"370686cad33aeef1","type":"function","z":"e45d5a9cf7f9a946","name":"SSR0 readback","func":"return { payload: msg.payload.data.ssr0 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["cfae49f0643443b9"]]},{"id":"cfae49f0643443b9","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":1,"width":0,"height":0,"name":"","label":"SSR0 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":400,"wires":[]},{"id":"83faf9545fbcad49","type":"function","z":"e45d5a9cf7f9a946","name":"SSR1 readback","func":"return { payload: msg.payload.data.ssr1 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["f193a1c024f20ed4"]]},{"id":"f193a1c024f20ed4","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":2,"width":0,"height":0,"name":"","label":"SSR1 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":460,"wires":[]},{"id":"3c382e9ba0c97941","type":"function","z":"e45d5a9cf7f9a946","name":"SSR2 readback","func":"return { payload: msg.payload.data.ssr2 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":520,"wires":[["6d274b3fd0ab1172"]]},{"id":"6d274b3fd0ab1172","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":3,"width":0,"height":0,"name":"","label":"SSR2 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":520,"wires":[]},{"id":"18e8981a28c7c5c0","type":"function","z":"e45d5a9cf7f9a946","name":"SSR3 readback","func":"return { payload: msg.payload.data.ssr3 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":580,"wires":[["eb53c7172ab4bf78"]]},{"id":"eb53c7172ab4bf78","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":4,"width":0,"height":0,"name":"","label":"SSR3 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":580,"wires":[]},{"id":"ed07d9faeabf9479","type":"function","z":"e45d5a9cf7f9a946","name":"SSR4 readback","func":"return { payload: msg.payload.data.ssr4 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":640,"wires":[["f4655a2a1b0d6b57"]]},{"id":"f4655a2a1b0d6b57","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":5,"width":0,"height":0,"name":"","label":"SSR4 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":640,"wires":[]},{"id":"f911c41fb3613856","type":"function","z":"e45d5a9cf7f9a946","name":"SSR5 readback","func":"return { payload: msg.payload.data.ssr5 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":700,"wires":[["01f1ea10b3e8a77b"]]},{"id":"01f1ea10b3e8a77b","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":6,"width":0,"height":0,"name":"","label":"SSR5 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":700,"wires":[]},{"id":"3dd7dbc4064b79e7","type":"function","z":"e45d5a9cf7f9a946","name":"SSR6 readback","func":"return { payload: msg.payload.data.ssr6 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":760,"wires":[["547bacfc190cc97a"]]},{"id":"547bacfc190cc97a","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":7,"width":0,"height":0,"name":"","label":"SSR6 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":760,"wires":[]},{"id":"6afd7e1279dcd57d","type":"function","z":"e45d5a9cf7f9a946","name":"SSR7 readback","func":"return { payload: msg.payload.data.ssr7 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":820,"wires":[["7b2d19c2eb62f8ee"]]},{"id":"7b2d19c2eb62f8ee","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":8,"width":0,"height":0,"name":"","label":"SSR7 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":820,"wires":[]},{"id":"e30ee18e9339a36e","type":"function","z":"e45d5a9cf7f9a946","name":"SSR8 readback","func":"return { payload: msg.payload.data.ssr8 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":880,"wires":[["da201fcb4c5fda8e"]]},{"id":"da201fcb4c5fda8e","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":9,"width":0,"height":0,"name":"","label":"SSR8 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":880,"wires":[]},{"id":"d8dd386d15282854","type":"function","z":"e45d5a9cf7f9a946","name":"SSR9 readback","func":"return { payload: msg.payload.data.ssr9 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":940,"wires":[["f796c35abb643232"]]},{"id":"f796c35abb643232","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":10,"width":0,"height":0,"name":"","label":"SSR9 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":940,"wires":[]},{"id":"a5138847fdb1931c","type":"function","z":"e45d5a9cf7f9a946","name":"SSR10 readback","func":"return { payload: msg.payload.data.ssr10 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1000,"wires":[["5a7ddedea69a21ec"]]},{"id":"5a7ddedea69a21ec","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":11,"width":0,"height":0,"name":"","label":"SSR10 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":710,"y":1000,"wires":[]},{"id":"4e3d28e6a18cb1b8","type":"function","z":"e45d5a9cf7f9a946","name":"SSR11 readback","func":"return { payload: msg.payload.data.ssr11 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1060,"wires":[["ac49603605502549"]]},{"id":"ac49603605502549","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":12,"width":0,"height":0,"name":"","label":"SSR11 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":710,"y":1060,"wires":[]},{"id":"84667674356cd34b","type":"function","z":"e45d5a9cf7f9a946","name":"SSR12 readback","func":"return { payload: msg.payload.data.ssr12 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1120,"wires":[["f07ff4041752a1d7"]]},{"id":"f07ff4041752a1d7","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":13,"width":0,"height":0,"name":"","label":"SSR12 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":710,"y":1120,"wires":[]},{"id":"aabf4afb38d210a1","type":"function","z":"e45d5a9cf7f9a946","name":"SSR13 readback","func":"return { payload: msg.payload.data.ssr13 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1180,"wires":[["e8c1541a3454a96c"]]},{"id":"e8c1541a3454a96c","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":14,"width":0,"height":0,"name":"","label":"SSR13 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":710,"y":1180,"wires":[]},{"id":"91232761784005b4","type":"function","z":"e45d5a9cf7f9a946","name":"SSR14 readback","func":"return { payload: msg.payload.data.ssr14 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1240,"wires":[["f7398f5f1b665d5e"]]},{"id":"f7398f5f1b665d5e","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":15,"width":0,"height":0,"name":"","label":"SSR14 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":710,"y":1240,"wires":[]},{"id":"5e9cfc5c16dccd92","type":"function","z":"e45d5a9cf7f9a946","name":"SSR15 readback","func":"return { payload: msg.payload.data.ssr15 };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1300,"wires":[["592be49c3fa9a3be"]]},{"id":"592be49c3fa9a3be","type":"ui_text","z":"e45d5a9cf7f9a946","group":"0a2ac17015680e49","order":16,"width":0,"height":0,"name":"","label":"SSR15 readback","format":"{{msg.payload}}","layout":"row-spread","className":"","x":710,"y":1300,"wires":[]},{"id":"8d63ee7360a9ca38","type":"function","z":"e45d5a9cf7f9a946","name":"Get Teensy temperature","func":"return {payload:msg.payload.data.temperature};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":340,"wires":[["0c5967cdb11c62b8"]]},{"id":"0c5967cdb11c62b8","type":"ui_text","z":"e45d5a9cf7f9a946","group":"b79e7efe9f86e4c0","order":1,"width":0,"height":0,"name":"","label":"Teensy internal temperature","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":340,"wires":[]},{"id":"492d144d4eb37f2b","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR0","tooltip":"","group":"b054eeb8a1636994","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR0","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":80,"wires":[["cdaf34e67edb5da1"]]},{"id":"a6bcb7d739c277e0","type":"serial out","z":"ac6a770440f6da9d","name":"Bluetooth rfcomm0","serial":"04059b16b83d377d","x":1370,"y":200,"wires":[]},{"id":"85b2d93b78aa2922","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR1","tooltip":"","group":"b054eeb8a1636994","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR1","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":140,"wires":[["cdaf34e67edb5da1"]]},{"id":"e2d7a9a9f565b739","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR2","tooltip":"","group":"b054eeb8a1636994","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR2","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":200,"wires":[["cdaf34e67edb5da1"]]},{"id":"d72a13c9a3de7d4e","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR3","tooltip":"","group":"b054eeb8a1636994","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR3","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":260,"wires":[["cdaf34e67edb5da1"]]},{"id":"a347995dbb74061e","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR4","tooltip":"","group":"b054eeb8a1636994","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR4","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":320,"wires":[["cdaf34e67edb5da1"]]},{"id":"43b97b2b175abcd9","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR5","tooltip":"","group":"b054eeb8a1636994","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR5","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":380,"wires":[["cdaf34e67edb5da1"]]},{"id":"b82d0a71097d6f15","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR6","tooltip":"","group":"b054eeb8a1636994","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR6","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":440,"wires":[["cdaf34e67edb5da1"]]},{"id":"4fb03398ee159631","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR7","tooltip":"","group":"b054eeb8a1636994","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR7","topicType":"str","min":0,"max":"100","step":"1","className":"","x":770,"y":500,"wires":[["cdaf34e67edb5da1"]]},{"id":"626ca1e56d7fe14d","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR8","tooltip":"","group":"b054eeb8a1636994","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR8","topicType":"str","min":0,"max":"100","step":"1","className":"","x":990,"y":80,"wires":[["cdaf34e67edb5da1"]]},{"id":"4d9fa15e065b4d8c","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR9","tooltip":"","group":"b054eeb8a1636994","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR9","topicType":"str","min":0,"max":"100","step":"1","className":"","x":990,"y":140,"wires":[["cdaf34e67edb5da1"]]},{"id":"fe32d8a6761e49ef","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR10","tooltip":"","group":"b054eeb8a1636994","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR10","topicType":"str","min":0,"max":"100","step":"1","className":"","x":1000,"y":200,"wires":[["cdaf34e67edb5da1"]]},{"id":"458754e84fa41e59","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR11","tooltip":"","group":"b054eeb8a1636994","order":12,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR11","topicType":"str","min":0,"max":"100","step":"1","className":"","x":990,"y":260,"wires":[["cdaf34e67edb5da1"]]},{"id":"3a7948f16598edde","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR12","tooltip":"","group":"b054eeb8a1636994","order":13,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR12","topicType":"str","min":0,"max":"100","step":"1","className":"","x":1000,"y":320,"wires":[["cdaf34e67edb5da1"]]},{"id":"cd2caefc96fbfc3c","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR13","tooltip":"","group":"b054eeb8a1636994","order":14,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR13","topicType":"str","min":0,"max":"100","step":"1","className":"","x":1000,"y":380,"wires":[["cdaf34e67edb5da1"]]},{"id":"8bfe20f05ea66a06","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR14","tooltip":"","group":"b054eeb8a1636994","order":15,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR14","topicType":"str","min":0,"max":"100","step":"1","className":"","x":1000,"y":440,"wires":[["cdaf34e67edb5da1"]]},{"id":"225669c49c1b2d96","type":"ui_slider","z":"ac6a770440f6da9d","name":"","label":"SSR15","tooltip":"","group":"b054eeb8a1636994","order":16,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SSR15","topicType":"str","min":0,"max":"100","step":"1","className":"","x":1000,"y":500,"wires":[["cdaf34e67edb5da1"]]},{"id":"cdaf34e67edb5da1","type":"function","z":"ac6a770440f6da9d","name":"function 1","func":"var info = msg.topic + \"=\" + msg.payload;\nreturn {payload:info};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":300,"wires":[["a6bcb7d739c277e0"]]},{"id":"00ee6b429f66c1b8","type":"debug","z":"ac6a770440f6da9d","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":380,"wires":[]},{"id":"4d7be1f529c4ef2e","type":"ui_switch","z":"ac6a770440f6da9d","name":"","label":"Heater Control Auto/Manual","tooltip":"","group":"b054eeb8a1636994","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":140,"y":240,"wires":[["88273c7d0e64171f"]]},{"id":"88273c7d0e64171f","type":"function","z":"ac6a770440f6da9d","name":"function 2","func":"msg.enabled = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["492d144d4eb37f2b","85b2d93b78aa2922","e2d7a9a9f565b739","d72a13c9a3de7d4e","a347995dbb74061e","43b97b2b175abcd9","4fb03398ee159631","b82d0a71097d6f15","626ca1e56d7fe14d","4d9fa15e065b4d8c","fe32d8a6761e49ef","458754e84fa41e59","3a7948f16598edde","cd2caefc96fbfc3c","8bfe20f05ea66a06","225669c49c1b2d96"]]},{"id":"35317ff490cba3b9","type":"inject","z":"ac6a770440f6da9d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":120,"wires":[["88273c7d0e64171f"]]},{"id":"f65a495174769ea9","type":"tcp in","z":"a28e3be54de7b154","name":"","server":"server","host":"","port":"3456","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":80,"y":60,"wires":[["fb0bcb7d1d6c27b8","c79134a17240a4fb","cd519473ca6788b2","5be64d1b7d1c4c4c","c87b86f82d9a7ac5","4be5d8a6398849e4","472b5fb43fee004e","5d6624f00e47135e","0fe6ec937e166cbf","30e4a188a5f1b558","e29704aad564dbfc","f6cb4b5fa3e6ada5","cd2c2d669f089301","21467859bfe7f857","aad4548b716eb6ab","dfb7ad4de7e973e8","b8131134b7a57b91","ea675e89429a0b75","ede539164ee4712c"]]},{"id":"30e4a188a5f1b558","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC0.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":160,"wires":[["829b765aef58c847"]]},{"id":"829b765aef58c847","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":1,"width":0,"height":0,"name":"","label":"TC0","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":160,"wires":[]},{"id":"fb0bcb7d1d6c27b8","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\nvar s = new Date(msg1.data.timestamp).toLocaleTimeString(\"en-US\")\n\nreturn {payload: s};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["e92f0257f159c667"]]},{"id":"e92f0257f159c667","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":19,"width":0,"height":0,"name":"","label":"Timestamp:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":160,"wires":[]},{"id":"e29704aad564dbfc","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC1.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":220,"wires":[["f375d04b9c936b13"]]},{"id":"f375d04b9c936b13","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":2,"width":0,"height":0,"name":"","label":"TC1 ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":220,"wires":[]},{"id":"f6cb4b5fa3e6ada5","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC2.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":280,"wires":[["5b93f49f19272532"]]},{"id":"5b93f49f19272532","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":3,"width":0,"height":0,"name":"","label":"TC2 ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":280,"wires":[]},{"id":"cd2c2d669f089301","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC3.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":340,"wires":[["a8ee7f0dd187ed8b"]]},{"id":"a8ee7f0dd187ed8b","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":4,"width":0,"height":0,"name":"","label":"TC3","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":340,"wires":[]},{"id":"21467859bfe7f857","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC4.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":400,"wires":[["846c800d7fec7de8"]]},{"id":"846c800d7fec7de8","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":5,"width":0,"height":0,"name":"","label":"TC4 ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":400,"wires":[]},{"id":"aad4548b716eb6ab","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC5.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":460,"wires":[["d84ae1dedfdf140b"]]},{"id":"d84ae1dedfdf140b","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":6,"width":0,"height":0,"name":"","label":"TC5","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":460,"wires":[]},{"id":"dfb7ad4de7e973e8","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC6.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":520,"wires":[["ae190ec3e6844ec9"]]},{"id":"ae190ec3e6844ec9","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":7,"width":0,"height":0,"name":"","label":"TC6","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":520,"wires":[]},{"id":"b8131134b7a57b91","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC7.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":580,"wires":[["3367343cf20a2f50"]]},{"id":"3367343cf20a2f50","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":8,"width":0,"height":0,"name":"","label":"TC7","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":580,"wires":[]},{"id":"ea675e89429a0b75","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC8.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":640,"wires":[["7e2bdab3a8bdeb1d"]]},{"id":"7e2bdab3a8bdeb1d","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":9,"width":0,"height":0,"name":"","label":"TC8","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":640,"wires":[]},{"id":"c79134a17240a4fb","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC9.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[["9c846eb65792dc76"]]},{"id":"9c846eb65792dc76","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":10,"width":0,"height":0,"name":"","label":"TC9","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":220,"wires":[]},{"id":"ede539164ee4712c","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC10.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":280,"wires":[["434222df29ced1fe"]]},{"id":"434222df29ced1fe","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":11,"width":0,"height":0,"name":"","label":"TC10","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":280,"wires":[]},{"id":"cd519473ca6788b2","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC11.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":340,"wires":[["e6c9f1d21e66b1d8"]]},{"id":"e6c9f1d21e66b1d8","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":12,"width":0,"height":0,"name":"","label":"TC11","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":340,"wires":[]},{"id":"5be64d1b7d1c4c4c","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC12.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":400,"wires":[["5b17e899779a6e69"]]},{"id":"5b17e899779a6e69","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":13,"width":0,"height":0,"name":"","label":"TC12","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":400,"wires":[]},{"id":"c87b86f82d9a7ac5","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC13.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":460,"wires":[["8bac590591ff8274"]]},{"id":"8bac590591ff8274","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":14,"width":0,"height":0,"name":"","label":"TC13","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":460,"wires":[]},{"id":"4be5d8a6398849e4","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC14.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":520,"wires":[["1acfcd0a9ad5651e"]]},{"id":"1acfcd0a9ad5651e","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":15,"width":0,"height":0,"name":"","label":"TC14","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":520,"wires":[]},{"id":"472b5fb43fee004e","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.TC15.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":580,"wires":[["9a77ac9dc1586cca"]]},{"id":"9a77ac9dc1586cca","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":16,"width":0,"height":0,"name":"","label":"TC15","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":580,"wires":[]},{"id":"5d6624f00e47135e","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.CJ.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":640,"wires":[["c4cea9aacc0f4060"]]},{"id":"c4cea9aacc0f4060","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":17,"width":0,"height":0,"name":"","label":"Cold junction","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":640,"wires":[]},{"id":"0fe6ec937e166cbf","type":"function","z":"a28e3be54de7b154","name":"","func":"var msg1 = JSON.parse(msg.payload);\n\n\nreturn {payload: msg1.data.RPi.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":700,"wires":[["5e262c0a3c586bb7"]]},{"id":"5e262c0a3c586bb7","type":"ui_text","z":"a28e3be54de7b154","group":"e0f52056.325bc","order":18,"width":0,"height":0,"name":"","label":"RPi internal","format":"{{msg.payload}}","layout":"row-spread","className":"","x":450,"y":700,"wires":[]}]
